:root {
    font-family: 'Metal Mania', cursive;
}


html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("marion-big.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mario-says {
    text-align: center;
}